
  /* ProjectCard.css */
.card {
    display: flex;
    justify-content: space-between; /* Ensure left and right sections stay apart */
    align-items: center; /* Vertically center both sections */
    width: 50%;
    background-color: #010e25; /* Dark navy blue */
    border-radius: 12px;
    margin: 20px auto; /* Center the card horizontally */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Make it responsive */
    flex-direction: row;
  }
  
  .leftSection {
    flex: 1; /* Take up available space */
    margin-left: 40px;
  }
  
  .rightSection {
    flex: 1; /* Take up available space */
    display: flex;
    justify-content: center;
  
  }
  
  .projectImage {
    border: 5px solid rgb(2, 70, 112);
    margin: 10px;
    border-radius: 10px;
    width: 100%; /* Make the image responsive */
    max-width: 350px; /* Set a max width for image */
    object-fit: cover;
  }

  .field {
    color: skyblue;
    font-size: 18px;
  }
  
  .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .description {
    color: white;
    margin: 10px 0;
  }
  
  .techStackContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .techStackButton {
    background-color: #0e2a5e; /* Light navy blue */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .viewCodeButton, .liveProjectButton {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  @media (max-width: 400px) {
    .viewCodeButton, .liveProjectButton{
      padding: 5px 10px;
    }
    .techStackButton {
      padding: 4px 6px;
    }
  }
  @media (max-width: 768px) {
  
    .card {
      flex-direction: column; /* Stack the sections on smaller screens */
    }
  
    .projectImage {
      max-width: 100%; /* Make image full width on small screens */
    }
  
    .leftSection, .rightSection {
      width: 100%; /* Make both sections full width on smaller screens */
      text-align: center;
    }
    .leftSection {
      flex: 1; /* Take up available space */
      margin-left: 0px;
    }
    
 
  }
  @media (max-width: 1200px) and (min-width: 768px) {
    .leftSection {
      margin-left: 20px;
    }
  }
  @media (max-width: 1200px){
    .card{
      width:80%
    }
  }